
.vs/

NTDLS.ReliableMessaging/obj/

NTDLS.ReliableMessaging/bin/

TestHarness/obj/

TestHarness/bin/

NTDLS.PrudentMessageQueue/bin/

NTDLS.PrudentMessageQueue/obj/

TestApps/Chat/ChatClient/bin/

TestApps/Chat/ChatClient/obj/

TestApps/Chat/ChatLibrary/bin/

TestApps/Chat/ChatLibrary/obj/

TestApps/Chat/ChatServer/bin/

TestApps/Chat/ChatServer/obj/

QueueClient/bin/

QueueClient/obj/

QueueServer/obj/

QueueServer/bin/

NTDLS.PrudentMessageQueueServer/bin/

NTDLS.PrudentMessageQueueServer/obj/

*.user

NTDLS.PrudentMessageQueueClient/bin/

NTDLS.PrudentMessageQueueClient/obj/

NTDLS.PrudentMessageQueueShared/bin/

NTDLS.PrudentMessageQueueShared/obj/

PrudentMessageQueueService/bin/

PrudentMessageQueueService/obj/
