@page "/account/{AccountName}"
@using NTDLS.Helpers
@model AccountModel
@{
    ViewData["Title"] = "Account";
}

<div>
    <div class="container mt-4">
        <form method="post">

            <div class="card">
                <div class="card-header">
                    <h4>Web Administration</h4>
                </div>
                <div class="card-body">


                    <div class="mb-3">
                        <label for="id" class="form-label fw-bold">Id</label>
                        <span asp-validation-for="Account.Id" class="text-danger"></span>
                        <input type="text" id="id" class="form-control" asp-for="Account.Id" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">Username</label>
                        <span asp-validation-for="Account.Username" class="text-danger"></span>
                        <input type="text" id="username" class="form-control" asp-for="Account.Username">
                    </div>

                    <div class="mb-3">
                        <label for="firstName" class="form-label fw-bold">First Name</label>
                        <span asp-validation-for="Account.FirstName" class="text-danger"></span>
                        <input type="text" id="firstName" class="form-control" asp-for="Account.FirstName">
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label fw-bold">Last Name</label>
                        <span asp-validation-for="Account.LastName" class="text-danger"></span>
                        <input type="text" id="lastName" class="form-control" asp-for="Account.LastName">
                    </div>

                </div>
            </div>
            <br />

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

