@page "/apikey/{AccountId}/{ApiKeyId}"
@using NTDLS.Helpers
@model ApiKeyModel
@{
    ViewData["Title"] = "API Key";
}

<div>
    <div class="d-flex justify-content-between align-items-center mx-0 my-0">
        <div>
            @* Left-aligned "toolbar" controls *@
            <h5 class="display-6">
                API Key

            </h5>
        </div>

        <div>
            @* Right-aligned "toolbar" controls  *@
        </div>
    </div>

    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p class="fw-bold">@Html.Raw(Model.ErrorMessage)</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (Model.SuccessMessage != null)
    {
        <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <p class="fw-bold">@Html.Raw(Model.SuccessMessage)</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
                document.addEventListener("DOMContentLoaded", function () {
                    setTimeout(function () {
                        let alertElement = document.getElementById('success-alert');
                        if (alertElement) {
                            // Add fade-out effect
                            alertElement.classList.remove('show');
                            alertElement.classList.add('fade');

                            // Remove the alert completely after the fade-out animation
                            setTimeout(() => alertElement.remove(), 300);
                        }
                    }, 5000);
                });
        </script>
    }

    <div>
        <form method="post">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="key" class="form-label fw-bold">Key</label>
                        <span asp-validation-for="AccountApiKey.Key" class="text-danger"></span>
                        <input type="text" id="key" class="form-control" asp-for="AccountApiKey.Key" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label fw-bold">Description</label>
                        <span asp-validation-for="AccountApiKey.Description" class="text-danger"></span>
                        <input type="text" id="description" class="form-control" asp-for="AccountApiKey.Description">
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>